html {
  background-color: rgb(238, 231, 231);
  scroll-behavior: smooth;
}
body {
  max-width: 1310px;
  margin: auto;
  font-size: 15px;
}
ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: rgb(145, 135, 135);
}
.nav-top {
  background-color: #f82917;
  padding: 5px;
  display: relative;
}

.main-nav {
  min-width: 1250px;
  max-width: 1250px;
  position: relative;
  z-index: 1;
  top: -60px;
  height: 60px;
  margin-bottom: 0;
}

.bottom-nav {
  width: 1310px;
  position: relative;
  margin-top: -60px;
  margin-bottom: 20px;
}

.font-bold {
  font-weight: bold;
}

.main-nav:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  border-bottom: 19px solid white;
  border-right: 20px solid #f82917;
  width: 0;
}

.nav-background {
  height: 41px;
  z-index: -1;
}

.form-inline {
  border: none;
  width: 80px;
}

.top-header {
  border: black solid 1px;
}

.h-scroll {
  height: 455vh;
  overflow: visible;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

.rounded-pill {
  background-color: yellow;
}

.profile {
  height: 80px;
  width: 80px;
}

.letter-bg {
  background-color: #f82917;
  padding: 0 5px 0 5px;
  margin-right: 6px;
}

.book-image {
  border: black solid 5px;
  object-fit: contain;
  width: 1000px;
}

footer svg path {
  fill: #f82917;
}
